    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <nav class="bg-primary navbar navbar-expand-lg navbar-light fixed-top">
        <a href="#" class="navbar-brand">
            <img style="height: 3rem;" src="assets/logo2.png" alt="Digipodium">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
    </nav>
    <header class="bg-primary">
      <div class="container">
        <h1>Data Merg</h1>
        <div class="row">
          <div class="col-md-6">
            <img src="assets/project-demo1.png" class="img-fluid">
          </div>

          <div class="col-md-6">
            <h4>Build an Single Page Application (Webapp) for Data Analysis and Visualization using Angular 10 along with MEAN stack development.</h4>

            <div class="row mt-5">
                <div class="col-md">
                    <div class="">
                        <h6>Language : JavaScript, TypeScript</h6>
                        <h6>Difficulty : Medium</h6>
                    </div>
                </div>
                <div class="col-md">
                    <div class="">
                        <h6>Type : WebApp/Website/SPA</h6>
                        <h6>Duration : 3 Months</h6>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
              <div class="col-6">
                <button class="btn-block">Register</button>
              </div>

              <div class="col-6">
                <!-- <button class="btn-block">Button 1</button> -->
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- <section class="container section1">
      <div class="row">
        <div class="col-md-6">
          <h1>Important Points</h1>
          <ul>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp; Important point 1</li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp; Important point 2</li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp; Important point 3</li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp; Important point 4</li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp; Important point 5</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="assets/project-sample1.png" class="img-fluid">
        </div>
      </div>
    </section> -->


    <section class="container section1">
        <h1>Exciting points about the project..</h1>

        <h4>1. Merge Online and Offline Data</h4>
        <div class="text-center">
            <img class="" src="assets/project-sample1.png" alt="">
        </div>

        <h4>2. Manage Data</h4>
        <div class="text-center">
            <img class="" src="assets/project-sample2.png" alt="">
        </div>

        <h4>3. Visualize Data</h4>
        <div class="text-center">
            <img class="" src="assets/project-sample3.png" alt="">
        </div>

        <h4>4. Admin Dashboard</h4>
        <div class="text-center">
            <img class="" src="assets/project-sample4.png" alt="">
        </div>

        <h4>5. Authentication</h4>
        <div class="text-center">
            <img class="" src="assets/project-sample5.png" alt="">
        </div>
        
    </section>


    <section class="section2">
      <button class="text-center mb-5 mt-5">Enroll Now</button>
    </section>

    <footer class="bg-dark">
      <div class="row">
        <div class="col-md-3 cate">
          <h3>IT Training</h3>
          <p>Data Analytics</p>
          <p>Python</p>
          <p>Data Science</p>
          <p>Machine Learning</p>
          <p>Java</p>
          <p>Advanced Java</p>
          <p>Angular MEAN stack Development</p>
        </div>
        <div class="col-md-3 cate">
          <h3>Digital Marketing</h3>
          <p>Data Analytics</p>
          <p>Python</p>
          <p>Data Science</p>
          <p>Machine Learning</p>
          <p>Java</p>
          <p>Advanced Java</p>
          <p>Angular MEAN stack Development</p>
        </div>
        <div class="col-md-3 cate">
          <h3>Event Management</h3>
          <p>Data Analytics</p>
          <p>Python</p>
          <p>Data Science</p>
          <p>Machine Learning</p>
          <p>Java</p>
          <p>Advanced Java</p>
          <p>Angular MEAN stack Development</p>
        </div>
        <div class="col-md-3 cate">
          <h3>Guided Projects</h3>
          <p>Data Analytics</p>
          <p>Python</p>
          <p>Data Science</p>
          <p>Machine Learning</p>
          <p>Java</p>
          <p>Advanced Java</p>
          <p>Angular MEAN stack Development</p>
        </div>
      </div>
    </footer>