<div class="container mt-5">
    <p class="display-4 text-center">SignUp Here</p>
    <hr>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md text-center">
                    <img class="mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1IaFdmTMACRaIWGz1Xu-0zAFYnHp1mECodg&usqp=CAU" alt="">
                </div>

                <div class="col-md">
                    <form [formGroup]="signupform" (ngSubmit)="submitForm(signupform.value)">

                        <mat-form-field appearance="outline" class="stretch">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name">
                            <mat-error *ngIf="getControl('name')">Name is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="stretch">
                            <mat-label>Username</mat-label>
                            <input matInput type="text" formControlName="username">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="stretch">
                            <mat-label>Password</mat-label>
                            <input matInput type="text" formControlName="password">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="stretch">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="stretch">
                            <mat-label>Address</mat-label>
                            <textarea matInput type="text" formControlName="address"></textarea>
                        </mat-form-field>

                        <button mat-raised-button color="accent" class="btn-block mt-5">Sign Me Up</button>

                        <input type="file" (change)="uploadImage($event)">
                        
                        <img [src]="imgURL" *ngIf="imgURL">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>